@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.Revolutionary {
  max-width: 1170px;
  margin: 0 1vw;
}

.Revolutionary .Revolutionary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 850px;
}

.Revolutionary .Revolutionary-content h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4em;
  color: #635c73;
}

.Revolutionary .Revolutionary-content p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
}

.Revolutionary .Revolutionary-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Revolutionary .Revolutionary-content ul li {
  list-style-type: none;
  margin: 0 10px 0 0;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-family: Lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Revolutionary .Revolutionary-content ul li .btn-widht-count {
  border-right: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  text-decoration: none;
}

.Revolutionary .Revolutionary-content ul li .btn-widht-count .btn-icon {
  width: 16px;
  margin-left: 10px;
}

.Revolutionary .Revolutionary-content ul li .btn-widht-count .btn-text {
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.Revolutionary .Revolutionary-content ul li .btn-count {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 5px;
  font-size: 10px;
}

.HereIsWhatYouGet {
  max-width: 1170px;
  margin: 0 1vw;
  background: #f4f4f4;
  overflow-x: hidden;
}

.HereIsWhatYouGet .slogan {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 38px;
  color: #8d81ac;
  margin: 0 0 0 30px;
  grid-area: slogan;
}

.HereIsWhatYouGet .ImgSlogan {
  grid-area: ImgSlogan;
  width: 100%;
  height: 100%;
}

.HereIsWhatYouGet .fiatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: fiatures;
}

.HereIsWhatYouGet .fiatures .fiature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HereIsWhatYouGet .fiatures .fiature img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.HereIsWhatYouGet .fiatures .fiature .fiature-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.HereIsWhatYouGet .fiatures .fiature .fiature-descr h6 {
  margin: 0 0 15px 0;
  color: #323232;
  font-size: 16px;
}

.HereIsWhatYouGet .fiatures .fiature .fiature-descr p {
  color: #848e97;
  font-size: 14px;
  margin: 0px;
}

.pricing {
  max-width: 1170px;
  background-color: #4b3b4e;
  margin: 0px 1vw;
}

.pricing .pricing-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.pricing .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .prices .price {
  width: 237px;
  height: 457px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #715963;
}

.pricing .prices .price h6 {
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  padding: 36px 0 36px 0;
  color: white;
  background-color: #6b5c6b;
}

.pricing .prices .price .price-curent {
  font-size: 60px;
  margin: 30px 0 20px 0;
}

.pricing .prices .price .price-curent span {
  font-weight: bold;
}

.pricing .prices .price .price-for-time {
  margin: 0px;
  font-size: 14px;
  position: relative;
}

.pricing .prices .price .price-for-time::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 60px;
  left: 10px;
  top: 50px;
  background-color: #8d81ac;
}

.pricing .prices .price .price-for-what {
  margin: 70px 0 30px 0;
  font-size: 16px;
}

.pricing .prices .price a {
  margin: 0 0 37px 0;
  width: 160px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background-color: #7f707f;
}

.pricing .prices .price.active {
  width: 280px;
  height: 560px;
  background-color: #473149;
}

.pricing .prices .price.active h6 {
  background-color: #402d41;
}

.pricing .prices .price.active .price-curent {
  font-size: 82px;
}

.pricing .prices .price.active a {
  margin: 65px 0 0 0;
}

@media (min-width: 950px) {
  .HereIsWhatYouGet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'fiatures slogan ' 'fiatures ImgSlogan';
  }
}

@media (max-width: 950px) {
  .HereIsWhatYouGet {
    background: rgba(0, 0, 0, 0.0001);
  }

  .HereIsWhatYouGet .slogan {
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
  }

  .HereIsWhatYouGet .fiature .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .HereIsWhatYouGet .fiature .icon-block img {
    margin: auto;
  }

  .HereIsWhatYouGet .fiature .fiature-descr {
    max-width: 600px;
  }

  .HereIsWhatYouGet .ImgSlogan {
    width: 100%;
    height: 100%;
    margin: 0 0 0 40px;
  }
}

@media (max-width: 900px) {
  .Revolutionary .Revolutionary-content h2 {
    font-size: 3em;
  }
}

@media (max-width: 720px) {
  .Revolutionary .Revolutionary-content h2 {
    font-size: 2em;
  }
}

@media (max-width: 671px) {
  .pricing .pricing-heading {
    font-size: 24px;
  }

  .pricing .prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 513px) {
  .Revolutionary .Revolutionary-content h2 {
    text-align: center;
  }

  .Revolutionary .Revolutionary-content p {
    font-size: 14px;
    text-align: center;
  }

  .Revolutionary .Revolutionary-content ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    max-width: 330px;
  }

  .Revolutionary .Revolutionary-content ul li {
    margin: 5px 0px;
  }

  .HereIsWhatYouGet {
    background: rgba(0, 0, 0, 0.0001);
  }

  .HereIsWhatYouGet .slogan {
    font-size: 32px;
    text-align: center;
    margin: 0 40px;
  }

  .HereIsWhatYouGet .fiature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .HereIsWhatYouGet .fiature .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px;
  }

  .HereIsWhatYouGet .fiature .icon-block img {
    width: 100%;
    height: 100%;
  }

  .HereIsWhatYouGet .fiature .fiature-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .HereIsWhatYouGet .ImgSlogan {
    width: 100%;
    height: 100%;
    margin: 0 0 0 40px;
  }
}

@media (min-width: 950px) and (max-width: 1000px) {
  .HereIsWhatYouGet .slogan {
    font-size: 33px;
  }
}

@media (min-width: 672px) and (max-width: 1080px) {
  .pricing .pricing-heading {
    font-size: 42px;
  }

  .pricing .prices {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px 30px;
  }

  .pricing .prices .price:first-child {
    margin: 0 0 0 40px;
  }

  .pricing .prices .price {
    margin: 10px 15px 10px 0;
  }
}